<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
    	<!-- Le nom de la servlet est "Loan" -->
        <servlet-name>Loan</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        
        <!-- 	Jersey va utiliser les classes du package "fr.iut.loan.service"
        		Mais on peut ajouter d'autre packages dans lesquels on va pouvoir
        		definir des Configurations, des gestionnaire d'erreur etc.. -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>fr.iut.loan.service</param-value>
        </init-param>
		
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    	<!-- La servlet "Loan" prend en charge toutes les requetes. -->
        <servlet-name>Loan</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
