{% extends 'base.html.twig' %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>N° compte</th>
            <th>Montant</th>
            <th>Nom</th>
            <th>Reponse</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for id, user in data %}
                <tr>
                    {% for key, field in user %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ path('delete_approval', {'id':id}) }}" type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}